<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = page.cover || page.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- page.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (page.subtitle && page.subtitle.length) { %>
                    <span class="site-subheading"><%- page.subtitle %></span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Tags and categories -->
           <% if (page.categories && page.categories.length || page.tags && page.tags.length) { %>
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 post-tags">
                    <% if (page.tags && page.tags.length){ %>
                        <%- partial('article-tags', {page: page}) %>
                    <% } else { %>
                        <%- partial('article-categories', {page: page}) %>
                    <% } %>
                </div>
                <div class="col-lg-4 col-md-5 post-categories">
                    <% if (page.tags && page.tags.length && page.categories && page.categories.length){ %>
                        <%- partial('article-categories', {page: page}) %>
                    <% } %>
                </div>
            <% } %>

            <!-- Gallery -->
            <% if (page.photos && page.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- page.content %>
            </div>

            <!-- Comments -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- partial("_partial/comments.ejs") %>
            </div>
        </div>
    </div>
</article>